.App{
    min-height: 100vh;
    background-color: #282c34;
}
.land {
    min-height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    font-size: calc(10px + 3vmin);
    justify-content: center;
    background-image: url(/img/IMG_5611.jpg);
    /*    background-repeat: no-repeat;*/
    background-size: 100%;
}
.login {
    padding: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.signUp {
    padding: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-right: solid;
    border-width: 10px;
}

.landing {
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    border: solid;
    border-width: 10px;
    border-radius: 10px;
    background-color: #282c34;
    opacity:75%;
}
.side {
    display: flex;
    flex-direction: column;
    width: 5%;
    padding: 10px;
/*    background-color: #282c34;*/
    height: 96vh;
}
.btn1, .btn2, .btn3, .btn4{
    height: 70px;
    width: 100px;
}
.btn1 {
    background-image: url(/img/pfp.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size:xx-large;
}
.link {
    opacity: 0;
}